{% extends 'website/base.html' %}
{% load staticfiles %}

{% block body %}

    <h1>Posts</h1>

    {% for post in posts %}

        <h3><a href="{% url "post_detail" pk=post.pk %}">
            {{ post.title }}
        </a></h3>
        <p>{{ post.content }}</p>

        {% if not post.published %}
        <form method="post" action="{% url "publish_post" pk=post.pk %}">
            {% csrf_token %}
            <button type="submit" class="button">Publish</button>
        </form>
        {% endif %}

    {% endfor %}

{% endblock %}